.root { -fx-background-color: linear-gradient(to bottom right, #182e1e, #245559); }

/* Menü-Buttons (Gleiche Größe) */
.button {
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-background-radius: 10;
    -fx-min-width: 200px;
}
.button:hover { -fx-background-color: #3498db; }

/* Namens-Feld zentriert */
#usernameField {
    -fx-pref-width: 400px; -fx-pref-height: 50px;
    -fx-font-size: 22px; -fx-alignment: center;
}

/* Großes Einsatzfeld */
#betField {
    -fx-pref-width: 120px; -fx-pref-height: 45px;
    -fx-font-size: 20px; -fx-alignment: center;
}

/* Farben Spiel-Buttons  */
#hitBtn { -fx-background-color: #2ecc71; -fx-min-width: 100px; }
#standBtn { -fx-background-color: #e74c3c; -fx-min-width: 100px; }
#doubleBtn { -fx-background-color: #e67e22; -fx-min-width: 120px; }
#cashoutBtn { -fx-background-color: #9b59b6; -fx-min-width: 120px; }

.label { -fx-text-fill: white; }
#gameLabel { -fx-text-fill: gold; -fx-font-weight: bold; -fx-font-size: 80px; }