.root {
    -fx-background-color: linear-gradient(to bottom right, #2e5c3a, #2a9624);
}

.button {
    -fx-font-size: 18px;
    -fx-padding: 10px 20px;
    -fx-background-color: #2980b9;
    -fx-text-fill: white;
    -fx-background-radius: 10;
}

.button:hover {
    -fx-background-color: #3498db;
}

.label {
    -fx-font-size: 36px;
    -fx-text-fill: white;
}

#gameLabel {
    -fx-font-size: 80px;       /* Big font */
    -fx-font-weight: bold;      /* Bold text */
    -fx-text-fill: gold;        /* Optional color */
    -fx-font-family: "Arial Black"; /* Optional font */
}

#usernameField {
    -fx-pref-width: 300px;
    -fx-max-width: 300px;
    -fx-font-size: 20px;           /* bigger text */
    -fx-padding: 8px 12px;         /* space inside field */
    -fx-background-radius: 10;     /* rounded corners */
    -fx-border-color: #3498db;    /* border color */
    -fx-border-width: 2px;
    -fx-text-fill: black;          /* text color */
    -fx-background-color: white;   /* field background */
}

